* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}
.main-heading {
  margin-bottom: 2%;
}

.main-container {
  margin: 1%;
  padding: 3%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: rgb(77, 151, 188);
  border-radius: 5px;

  h1 {
    font-size: 2.25rem;
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
    img {
      width: 45px;
      padding: 5px;
    }
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  span,
  sub,
  sup {
    font-size: 1rem;
  }

  input,
  select {
    font-size: 1rem;
  }

  div {
    font-size: 1rem;
  }
}

/* results container h3 */

#heading-margin {
  margin-bottom: 2%;
}

input {
  max-width: 60px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgb(77, 151, 188);
  padding-left: 5%;
  text-align: left;
  font-size: 0.75rem;
}

select {
  border-radius: 5px;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgb(77, 151, 188);
}

.grid-container {
  max-width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  margin: auto;
}

.grid-item {
  padding: 20px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgb(77, 151, 188);
  height: auto;
  div {
    padding: 1% 0;
  }
}

#weld-material-input {
  div {
    padding: 1% 0;
  }
}

.popup-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  margin: auto;
}
.popup-grid-item {
  padding: 20px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgb(77, 151, 188);
}

.popup-grid-item.no-border {
  border-style: none;
}
.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popup-content {
  text-align: center;
}

.popup-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 750px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
